<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authorization</title>
</head>
<body>
<h1>Authorization</h1>
<form method="post" th:action="@{/authorization}">
    <div>
        <label for="login">Enter login
            <input id="login" type="text" name="login" th:value="*{Alogin}" required>
            <i class="fa fa-user"></i>
            <b th:text="${nouser} ? 'Incorrect login or password' : ''"></b>
        </label>
        <label for="password">Enter password
            <input id="password" name="password" th:value="*{Apassword}" required>
        </label>
        <input type="submit" value="submit">
    </div>
</form>
</body>
</html>
