<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
</head>
<body>
<div th:if="${userAuthorized}">
    <p>Welcome</p>
    <a href="logout">logout</a>
</div>
<div th:unless="${userAuthorized}">
    <p><a href="registration">registration</a></p>
    <p><a href="authorization">authorization</a> </p>
</div>

<p>Enter the name of the city</p>
<form method="post" action="main">
    <label for="location">
        <input id ="location" type="text" name="location" required>
    </label>
    <input type="submit" value="submit">
</form>


<form method="post" action="/WeatherApp/main/save-location" th:object="${search}">
    <div th:if="${search != null}">
        <p th:text="'Name' + ${search.name}"></p>
        <p th:text="'Temperature: ' + ${search.temperature} + '°C'"></p>
        <p th:text="'Feels Like: ' + ${search.feels_like} + '°C'"></p>
        <p th:text="'Wind Speed: ' + ${search.windSpeed} + ' m/s'"></p>
        <p th:text="'Wind Degree: ' + ${search.windDegree} + '°'"></p>
        <input type="hidden" th:value="${search.name}" name="search.name" />
    </div>
    <button type="submit">Save Forecast</button>
</form>
<div th:each="location : ${userLocations}">
    <form method="post" action="main/delete-location">
        <p th:hidden="id"></p>
        <p th:text="${location.name}"></p>
        <p th:text="${location.temperature} + '°C'"></p>
        <p th:text="${location.feels_like} + '°C'"></p>
        <p th:text="${location.windSpeed} + ' m/s, ' + ${location.windDegree} + '°'"></p>
        <input type="hidden" name="cityName" th:value="${location.name}">
        <button type="submit">Delete</button>
    </form>
</div>


</body>
</html>